#header-breadcrumb {
  background-color: #f9fbfc;
}
#header-breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  margin-bottom: 0;
  align-items: center;
}
#header-breadcrumb ul li {
  font-size: 16px;
  font-weight: 700;
  color: #939393;
  margin: 5px 40px 5px 0;
  position: relative;
}
#header-breadcrumb ul li:first-child {
  margin-left: 0;
}
#header-breadcrumb ul li:last-child {
  color: #253444;
}
#header-breadcrumb ul li:after,
#header-breadcrumb ul li:before {
  content: "";
  position: absolute;
  width: 10px;
  border: 1px solid #939393;
  right: -25px;
}
#header-breadcrumb ul li:before {
  bottom: 7px;
  transform: rotate(-45deg);
}
#header-breadcrumb ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #939393;
  position: relative;
}
#header-breadcrumb ul li:after {
  top: 9px;
  transform: rotate(45deg);
}
#header-breadcrumb ul li:last-child:after,
#header-breadcrumb ul li:last-child:before {
  border: none;
}

@media (max-width: 768px) {
  #header-breadcrumb {
    display: none;
    position: relative;
    padding: 4px 0;
    min-height: 30px;
  }
  #header-breadcrumb ul {
    position: absolute;
    width: 1000px;
    padding: 0;
  }
  #header-breadcrumb ul li {
    font-size: 12px;
    color: #253444;
    font-weight: 400;
  }
  #header-breadcrumb ul li:after,
  #header-breadcrumb ul li:before {
    border: 0.5px solid #253444;
    width: 8px;
  }
  #header-breadcrumb ul li:before {
    bottom: 11px;
    transform: rotate(45deg);
  }
  #header-breadcrumb ul li a {
    font-size: 12px;
    color: #253444;
    position: relative;
    font-weight: 400;
  }
  #header-breadcrumb ul li:after {
    top: 11px;
    transform: rotate(-45deg);
  }
  #header-breadcrumb-after {
    width: 50px;
    content: " ";
    right: 0;
    top: 0;
    z-index: 9;
    height: 40px;
    position: absolute;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
}
