#product-view {
  padding-top: 30px;
}
#product-details {
  padding: 10px 0 50px;
}

#product-details .product-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
#product-view .product-status,
.undertitle_icon_a,
#title-search-input,
.title,
#product-view .price {
  cursor: default;
}
#product-details .product-headline .product-status {
  width: 50%;
  display: flex;
}
#product-details .product-headline .product-status p {
  font-size: 12px;
  color: #282828;
  display: flex;
  font-weight: 700;
}
#product-details .product-headline .product-status p.success {
  color: #5fac0b;
  display: flex;
  align-items: center;
  margin-right: 50px;
}
#product-details .product-headline .product-status p.success img {
  margin-right: 10px;
}
#product-details .product-headline .product-feedback {
  display: flex;
}
.apple_cert_icon_full_single {
  width: 120px;
  height: auto;
  margin-top: -25px;
  margin-bottom: 20px;
}
.apple_cert_icon_full img,
.apple_cert_icon_full_single img {
  width: 100% !important;
}
.select-item-vco {
  margin-left: 10px;
}
.product-headline button {
  background: #fff;
  border-radius: 5px;
  color: #323232;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  padding: 0 6px;
}
.feature-container .product-feedback,
.vcomob {
  display: none;
}
#product-details .product-headline .product-feedback .feedback-action {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#product-details .product-headline .product-feedback .feedback-action svg {
  width: 18px;
  height: 18px;
}
#product-details #product-info {
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
}
#product-details #product-info .product-img-view .menu-view {
  display: flex;
}
#product-details #product-info .product-img-view .menu-view .side-menu {
  margin-right: 10px;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .side-menu
  .btn-menu {
  display: block;
  background-color: #fff;
  width: 75px;
  height: 75px;
  border: solid 2px rgba(0, 0, 0, 0.08);
  margin: 5px 0;
  padding: 15px;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .side-menu
  .btn-menu:last-child {
  margin-bottom: 0;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .side-menu
  .btn-menu
  img {
  width: 100%;
  height: 100%;
}
.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
#product-details #product-info .product-img-view .menu-view .side-menu .slider {
  margin: 20px 0 30px;
  width: 80px;
  height: auto;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .side-menu
  .slider
  .slick-slide {
  width: 75px !important;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .side-menu
  .slider
  .slick-slide
  .item {
  width: 75px;
  height: 75px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding: 2px;
  transition: 0.5s;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .side-menu
  .slider
  .slick-slide
  .item.active {
  position: relative;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .side-menu
  .slider
  .slick-slide
  .item.active:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 7px 0 7px 7px;
  left: calc(100% - 2px);
  border-color: transparent transparent transparent #fff;
  z-index: 1;
}
.slick-slide img {
  display: block;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .side-menu
  .slider
  .slick-slide
  .item
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .side-menu
  .slider
  .slick-slide
  .item.active:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.08);
}
.slick-track:after {
  clear: both;
}
#product-details #product-info .product-img-view .menu-view .mainImg {
  width: 420px;
  display: flex;
  align-items: center;
}
.lbl-percentage-grid-2022 {
  top: -6px;
  position: absolute;
  width: 100% !important;
  left: 0;
}
.product-img-view .lbl-percentage-grid-2022 {
  top: -34px;
}
.lbl-badge-2022 {
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  margin-right: 2px;
}
.lbl-badge-2022-catdırılma {
  border: 1px solid #09c;
}
.lbl-percentage-grid-2022 p {
  font-size: 10px;
  font-weight: 500;
  padding: 1px 6px;
  color: #fff;
}
.lbl-badge-2022-catdırılma p {
  color: #09c;
}
.product-img-view .lbl-percentage-grid-2022 p {
  font-size: 13px;
  padding: 4px 7px;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .mainImg
  .imgContainer {
  padding-top: 100%;
  width: 100%;
  position: relative;
}
#product-details
  #product-info
  .product-img-view
  .menu-view
  .mainImg
  .imgContainer
  img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  object-position: center center;
}
#product-details form.product-features {
  max-width: 675px;
}
#product-details #product-info .product-features {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#product-details #product-info .product-features .wrapper {
  display: flex;
  justify-content: space-between;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .title {
  font-size: 27px;
  font-weight: 700;
  color: #282828;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
}
#product-details #product-info .product-features .color p {
  font-size: 14px;
  color: #282828;
  margin-bottom: 5px;
}
#product-details #product-info .product-features .color button {
  border: none;
  border-radius: 100%;
  overflow: hidden;
  width: 20px;
  height: 20px;
  position: relative;
  background-color: #fff;
  margin-right: 3px;
}
#product-details #product-info .product-features .color button.c1 {
  background-color: #fadcc2;
}
#product-details #product-info .product-features .memory p {
  font-size: 14px;
  color: #282828;
  margin-bottom: 5px;
}
#product-details #product-info .product-features .memory button {
  font-size: 14px;
  color: #282828;
  padding: 0 8px;
  background-color: #fff;
  border: solid 2px #c6c6c6;
  margin-right: 10px;
  transition: 0.5s;
  border-radius: 4px;
}
#product-details #product-info .product-features .memory button.active {
  border: 2px solid #5fac0b;
}
#product-details #product-info .product-features .labels {
  display: flex;
  margin-top: 20px;
}
.lbl-box-new,
.lbl-box-new img {
  width: 85px;
  margin-right: 2px;
  margin-bottom: 2px;
}
.lbl-box-new,
.lbl-box-new img {
  width: 85px;
  margin-right: 2px;
  margin-bottom: 2px;
}
img.lazy {
  min-height: 1px;
}
.div3dvideomob {
  display: none;
}

.feature-container .product-feedback,
.vcomob {
  display: none;
}
.apple_cert_icon_full_single {
  width: 120px;
  height: auto;
  margin-top: -25px;
  margin-bottom: 20px;
}
.apple_cert_icon_full img,
.apple_cert_icon_full_single img {
  width: 100% !important;
}
#product-details #product-info .product-features .wrapper .mob-carousel {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .mob-carousel
  .imgHolder {
  padding-top: 50%;
}

.lbl-percentage-grid-2022 {
  top: -6px;
  position: absolute;
  width: 100% !important;
  left: 0;
}
.mob-carousel .lbl-percentage-grid-2022 {
  top: -26px;
}
.owl-carousel,
.dis_neqdalisaendirim_li {
  visibility: hidden;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.no-js .owl-carousel {
  display: block;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .mob-carousel
  .owl-carousel {
  width: calc(100% - 100px);
  max-width: 300px;
  margin: 0 auto;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
  -webkit-transform: translateZ(0);
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.imgHolder {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.imgHolder img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
#product-view .imgHolder img {
  object-fit: contain;
}
.owl-theme .owl-nav {
  margin-top: 2px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-carousel .owl-dots .owl-dot {
  width: 15px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-carousel .owl-dots .owl-dot span {
  background-color: #444;
  height: 8px;
  width: 8px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
  background-color: #ff003c;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .feature-mobile {
  display: flex;
  align-items: center;
  margin: 5px 0 0;
}

#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .feature-mobile
  .color {
  margin-right: 50px;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .cont-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .calculator-responsive-select-mother {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 30px 0 10px;
  transition: 0.4s;
  cursor: pointer;
}
.calculator-responsive-select-mother .price {
  position: relative;
}
#product-view .product-status,
.undertitle_icon_a,
#title-search-input,
.title,
#product-view .price {
  cursor: default;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .price {
  display: flex;
  align-items: center;
  margin: 0;
}
.small,
small {
  font-size: 80%;
  font-weight: 400;
}
.qiymeti {
  display: block;
  font-size: 14px;
  position: absolute;
  top: -18px;
}
.qiymeti_endirim {
  display: block;
  font-size: 14px;
  position: absolute;
  top: -36px;
}
.endirimvar {
  margin-top: -20px;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .price
  p {
  font-size: 27px;
  color: #282828;
  font-weight: 700;
}
.endirimvar span {
  text-decoration-color: #ff003c !important;
}
.azn_span {
  font-family: jisaznregular;
}
.nprice {
  font-weight: bold !important;
}
.endirimvar span {
  text-decoration-color: #ff003c !important;
}
.endirimvar .nprice {
  color: #ff003c;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .price
  .lbl-price-discount {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .calculator-responsive-select {
  display: flex;
  align-items: center;
}

#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .calculator-responsive-select
  .menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 25px 10px;
  border: solid 1px #cfcfcf;
  background-color: #f3f3f3;
  margin: 0 0 0 20px;
  min-width: 176px;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .calculator-responsive-select
  .menu
  p {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: normal;
  color: #253444;
  cursor: pointer;
}
#product-details
  #product-info
  .product-features
  .wrapper
  .feature-container
  .calculator-responsive-select
  .menu
  svg {
  margin-left: 5px;
  height: 15px;
  width: 15px;
  transition: 0.4s;
}
#product-details #product-info .product-features .drop_down {
  border-radius: 6px 6px 6px 6px;
  border: solid 1px #cfcfcf;
  background-color: #f3f3f3;
  margin: 0 0 10px;
  width: 100%;
  padding: 13px;
  display: none;
}
#product-details #product-info .product-features .credit-calculation {
  position: relative;
  padding: 0 10px;
  margin-top: 20px;
}
#product-view .product-status,
.undertitle_icon_a,
#title-search-input,
.title,
#product-view .price {
  cursor: default;
}
#product-details #product-info .product-features .credit-calculation .title p {
  font-size: 16px;
  font-weight: 700;
  color: #282828;
  position: relative;
}
.birkartdesk {
  zoom: 0.9;
  display: inline !important;
  float: right;
  margin-top: -40px;
  width: 180px;
  text-align: left;
  height: 40px;
  border: 0 solid gray;
  border-radius: 10px;
}
#product-details #product-info .product-features .credit-calculation .title p {
  font-size: 16px;
  font-weight: 700;
  color: #282828;
  position: relative;
}
.birkartdesk img {
  height: 60px;
  margin-left: -40px;
  margin-top: -13px;
}
.birkartdesktext {
  position: absolute;
  padding-top: 6px;
  padding-left: 5px;
  font-size: 17px;
}
#product-details
  #product-info
  .product-features
  .credit-calculation
  .payment-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#product-details
  #product-info
  .product-features
  .credit-calculation
  .payment-option
  .range-section {
  width: 50%;
  position: relative;
  margin-top: 20px;
}
#product-details
  #product-info
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  #range-tooltip {
  width: max-content;
  height: auto;
  background-color: #ff003c;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
  position: absolute;
  top: -32px;
  display: none;
  transform: translateX(-50%);
  z-index: 1;
}
#product-details
  #product-info
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  .range-container {
  width: 100%;
  position: relative;
}
#product-details
  #product-info
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  .range-container
  .bar {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #e3e3e4;
  overflow: hidden;
}
#product-details
  #product-info
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  .range-container
  .bar
  .fill {
  position: absolute;
  display: block;
  width: 0;
  background-color: #ff003c;
  height: 100%;
}
#product-details
  #product-info
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  .range-container
  .range-slider {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: 0 0;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  ul {
  display: flex;
  margin-top: 15px;
  width: 100%;
  justify-content: space-between;
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  ul
  li {
  font-size: 14px;
  color: rgba(40, 40, 40, 0.7);
  text-align: left;
  position: relative;
  width: calc(100% / 8);
  display: flex;
  justify-content: flex-end;
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  ul
  li {
  width: 14.81px !important;
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  ul
  li:first-child {
  width: calc(100% / 8 - 24px);
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  ul
  li
  p {
  width: fit-content;
  position: relative;
  min-width: 16px;
  text-align: center;
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  ul
  li:first-child
  p {
  min-width: unset;
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  ul
  li
  p:before {
  content: "";
  position: absolute;
  height: 10px;
  border: 1px solid #e3e3e4;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  ul
  li:nth-child(2) {
  width: calc(100% / 8 + 5.5px);
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .range-section
  ul
  li:nth-child(4) {
  width: calc(100% / 8 + 1.5px);
}
#product-details .payment-info ul {
  float: right;
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .payment-info
  ul {
  display: flex;
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .payment-info
  ul
  li {
  position: relative;
  display: table;
  background-color: #ebebeb;
  margin-left: 10px;
  border-radius: 4px;
  padding: 0 10px;
  max-width: 100px;
}
.faizsizmi {
  color: #ff003c;
}
#product-details
  .product-features
  .credit-calculation
  .payment-option
  .payment-info
  ul
  li
  p {
  font-size: 14px;
  color: #282828;
  text-align: center;
}
#product-details .product-features .mop {
  margin-top: 30px;
  display: flex;
}
#product-info .btn-mop {
  background: #ddd;
}
#product-details .product-features .mop button {
  width: 33.33333%;
  border: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
  padding: 15px 0;
  line-height: 1;
  transition: 0.5s;
}
#product-details .product-features .mop button:nth-child(2) {
  margin: 0 20px;
}
#review-tabs {
  margin-top: 33px;
}
#review-tabs .tabs {
  margin-bottom: 30px;
}
.round-edge-tab {
  border: none;
  justify-content: flex-end;
  overflow: hidden;
  padding-left: 10px;
  padding-bottom: 0.5px;
}
#review-tabs .round-edge-tab {
  padding-bottom: 0;
  margin-bottom: -1px;
}
.round-edge-tab .nav-item {
  margin-right: 0;
  position: relative;
  margin-top: 2px;
}
.nav-tabs .nav-item {
  margin-bottom: -3px !important;
  margin-right: 0px !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.round-edge-tab .nav-item .nav-link {
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #282828;
  background-color: #edf1f5;
  position: relative;
  border: 1px solid #edf1f5;
  border-radius: 0;
  padding-right: 16px;
}
.round-edge-tab .nav-item .nav-link.active {
  background-color: #fff;
  border-top-color: #ebebeb;
  border-left-color: #ebebeb;
  border-bottom: none;
  z-index: 20;
  padding-right: 16px;
  border: 1px solid #fff;
}
.round-edge-tab .nav-item:after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 80%;
  width: 1px;
  top: 10%;
  right: 10px;
}
.nav-item-second a {
  border-radius: 0px 13px 0 0 !important;
}
.single-block,
#review-tabs .tabs .tab-content {
  background-color: #fff;
  padding: 30px 18px;
  border: 1px solid #ebebeb;
}
.fade {
  transition: opacity 0.15s linear;
}
.fade:not(.show) {
  opacity: 0;
}
.tab-content > .tab-pane {
  display: none;
}
#myTabContent #zero p {
  margin: 10px auto;
}
#myTabContent #zero h3,
#myTabContent #zero h2,
#myTabContent #zero h1 {
  margin-top: 16px;
}
b,
strong {
  font-weight: bolder;
}
.tab-content > .active {
  display: block;
}
.submenuItems_params li {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea;
}
.submenuItems_params li {
  white-space: nowrap;
  overflow-x: overlay;
}
#review-tabs .gray-line {
  background-color: #f9fbfc;
}
#review-tabs .tabs .features-review-tabs li {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
  padding-left: 10px;
}
#user-feedback {
  border: 2px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding: 20px;
}
#review-tabs .tabs .tab-content #user-feedback {
  border: none;
  padding: 0;
}
#user-feedback .existing-feedbacks ul {
  max-height: 500px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}
#user-feedback .existing-feedbacks ul li .user-comment {
  display: flex;
  margin-bottom: 15px;
}
#user-feedback .existing-feedbacks ul li .user-comment .user {
  width: 15%;
}
#user-feedback .existing-feedbacks ul li .user-comment .user h6 {
  font-size: 17px;
  color: #282828;
}
#user-feedback .existing-feedbacks ul li .user-comment .user p {
  font-size: 14px;
  color: #282828;
}
#user-feedback .existing-feedbacks ul li .user-comment .feedback {
  width: 85%;
  background-color: #f9fbfc;
  padding: 15px;
  position: relative;
  margin-left: 35px;
}
#user-feedback .existing-feedbacks ul li .user-comment .feedback .rate {
  display: flex;
}
#user-feedback .existing-feedbacks ul li .user-comment .feedback .rate .star {
  border: none;
  background-color: transparent;
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 3px;
}
#user-feedback .existing-feedbacks ul li .user-comment .feedback p {
  font-size: 16px;
  color: #282828;
  text-align: justify;
  line-height: 1.48;
  letter-spacing: 0.08px;
  margin-top: 20px;
}
#user-feedback .feedback-form {
  padding-top: 30px;
}
#user-feedback h4 {
  color: #282828;
  font-size: 25px;
  margin-bottom: 30px;
}
#review-tabs .tabs .tab-content #user-feedback h4 {
  font-family: montserrat, sans-serif;
  font-size: 21.5px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
  text-align: left;
  color: #282828;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
#user-feedback .feedback-form form .form-row {
  justify-content: space-between;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
#user-feedback .feedback-form form .form-row .form-group {
  width: 90%;
}
#user-feedback .feedback-form form .form-group label {
  font-size: 16px;
  color: #282828;
  margin-bottom: 10px;
}
#user-feedback .feedback-form form .form-group label span {
  color: #ff003c;
}
#user-feedback .feedback-form form .form-group input,
#user-feedback .feedback-form form .form-group textarea {
  border: 2px solid rgba(0, 0, 0, 0.08);
  background-color: #f0efef;
}
#user-feedback .feedback-form form .form-group textarea {
  resize: none;
}
.g-recaptcha {
  min-height: 85px;
}
#user-feedback .feedback-form form .rate-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#user-feedback .feedback-form form .rate-submit .rate button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}
.btn-add-to-review {
  margin-left: 20px;
  background-color: #e3e3e3;
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #282828;
  height: 35px;
  width: 110px;
  border-radius: 5px;
  transition: 0.5s;
}
#review-tabs #accordion-product-view {
  margin-bottom: 50px;
}
#review-tabs #accordion-product-view .accordion-menu {
  width: 100%;
}
#review-tabs #accordion-product-view .dropdownlink {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  transition: 0.4s;
  position: relative;
  background-color: #f2f2f2;
  padding: 7.5px 8px;
  margin-bottom: 2px;
  cursor: pointer;
}
#review-tabs #accordion-product-view .dropdownlink i {
  position: absolute;
  top: 14px;
  left: 16px;
  transition: 0.4s;
}
#review-tabs #accordion-product-view .dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}
#review-tabs #accordion-product-view .submenuItems {
  display: none;
}
#review-tabs
  #accordion-product-view
  .accordion-menu
  li:last-child
  .dropdownlink {
  border-bottom: 0;
}
@media (max-width: 1200px) {
  #product-details {
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
  }
  #product-details #product-info .product-features {
    width: 100%;
    padding-left: 0;
  }
  #product-details #product-info .product-features .wrapper .feature-container {
    width: 100%;
  }
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .title {
    font-size: 17px;
    flex-wrap: wrap !important;
  }
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .feature {
    display: none;
  }
  #product-details #product-info .product-img-view {
    display: none;
  }
  #product-details .product-features .credit-calculation {
    display: none;
  }
  #product-details .product-features .mop {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  #product-details .product-features .mop .cash,
  #product-details .product-features .mop .on-click,
  #product-details .product-features .mop .partial {
    width: 100%;
    margin-bottom: 10px !important;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5.6px;
  }
  #product-details .product-headline .product-status {
    width: unset;
  }
  #product-info {
    border: none;
  }
  #product-details #product-info .product-img-view {
    display: none;
  }
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .price {
    flex-direction: column;
    align-items: flex-start;
  }
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .price
    .lbl-price-discount {
    margin-left: unset;
  }
  #review-tabs {
    margin-top: unset;
  }
  #review-tabs .tabs {
    display: none;
  }
}
@media (max-width: 991.98px) {
  #product-details {
    max-width: 600px;
  }
  #product-details .product-headline {
    align-items: flex-start;
  }
  #product-details .product-headline .product-status {
    width: 100%;
    flex-direction: column;
  }
  #product-details .product-headline .product-status p.success {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #product-details .product-headline .product-feedback .feedback-action {
    margin-left: 0;
    margin-right: 10px;
  }
}
@media (max-width: 768px) {
  .product-feedback {
    display: none !important;
  }
  .apple_cert_icon_full_single {
    width: 90px;
    height: auto;
    margin-top: -5px;
  }
  .vcomob {
    display: block !important;
    font-size: 9px;
  }
  #product-view,
  #product-search,
  #product-info {
    padding-top: 0 !important;
  }
  .feature-container .product-feedback {
    width: 65px;
    display: block !important;
    margin-top: 140px;
    position: absolute;
    right: 0;
    left: 70%;
    z-index: 9;
  }
  .apple_cert_icon_full_single {
    width: 90px;
    height: auto;
    margin-top: -5px;
  }
  .feature-container .product-feedback button {
    width: 100%;
    margin: 0;
    border: none;
    float: right;
    display: block;
    margin-bottom: 10px;
    background: #fff;
  }
  .feature-container .product-feedback button svg {
    max-width: 50px;
    padding: 5px;
    box-sizing: unset;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    margin: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #fff;
  }
  .qiymeti_endirim {
    top: -20px;
  }
  .select-item-vco span {
    display: none;
  }
  #product-details
    #product-info
    .product-features
    .wrapper
    .mob-carousel
    .imgHolder {
    height: 180px;
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  #product-details .product-headline {
    padding: 15px 0;
  }
  #product-details .product-headline .product-status p {
    font-size: 11px;
  }
  #product-details .product-headline .product-status p.success img {
    width: 15px;
    height: 13px;
  }
  #product-details .product-headline .product-feedback .feedback-action {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 0;
  }
  #product-details .product-headline .product-feedback .feedback-action svg {
    width: 15px;
    height: 15px;
  }
  #product-details #product-info {
    padding: 30px 0;
  }
  .seg-reco-wrapper {
    width: 270px;
  }
}
@media (max-width: 545px) {
  #product-details #product-info .product-img-view .menu-view {
    flex-direction: column;
  }
  #product-details
    #product-info
    .product-img-view
    .menu-view
    .side-menu
    .btn-menu {
    display: flex;
  }
  #product-details
    #product-info
    .product-img-view
    .menu-view
    .side-menu
    .slider {
    height: 80px;
    width: 250px;
    margin: 20px auto;
  }
}
@media (max-width: 400px) {
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .calculator-responsive-select
    .menu {
    min-width: unset;
    margin: 0 0 0 5px;
    padding: 25px 5px;
  }
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .calculator-responsive-select
    .menu
    p {
    font-size: 10px;
  }
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .calculator-responsive-select
    .menu
    svg {
    height: 8px;
    width: 8px;
  }
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .feature-mobile
    .color {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  #product-details #product-info .product-features .wrapper .mob-carousel {
    display: none;
  }
}
@media (min-width: 1199.9px) {
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .feature-mobile {
    display: none;
  }
  #product-details
    #product-info
    .product-features
    .wrapper
    .feature-container
    .calculator-responsive-select {
    display: none;
  }
  #review-tabs #accordion-product-view {
    display: none;
  }
}

@media (min-width: 768px) {
  .div3dvideomob {
    display: none;
  }
}
