.form-bottom {
  border-top: 1px solid #e5e5e5;
  margin: 15px 0 0 0;
}

.register-form-check {
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
}

.register-form-check label {
  position: relative;
  padding: 0 5px;
  margin: 5px 0;
  display: inline-block;
  font-weight: normal !important;
  font-size: 11px;
  text-transform: uppercase;
  color: #888 !important;
  cursor: pointer !important;
}
